* {
    box-sizing: border-box;
}

/* Fonts */

@font-face {
    font-family: montserrat;
    src: url(/fonts/montserrat/MontserratAlternates-Regular.ttf);
}

/* BASE */

html {
    /* color: #626262; */
    line-height: 1.5;
}

body {
    display: flex;
    justify-content: center;
    margin: 0
    /* font-size: .875rem; */
}

.wraps {
    margin-top: 20px;
    max-height:  463.5px;
    max-width: 601px;
    border: 2px solid black;
}

/* a {
    color:rgb(243, 216, 66);
} */

/* a:hover {
    text-decoration: none;
} */

/* Components */

/* Screen */

/* main-header */

/* .main-header {
    margin: 20px;
} */

.main-layout {
    background-color: #30b9b3;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 10px;
}

.logo {
    color: rgb(243, 216, 66);
    font-family: monospace;
    font-size: 1.875rem;
}

/* .nav-continer{
    height: 100%;
} */

.hamborger {
    display: none !important;
}

.main-header .main-nav a {
    display: flex;
    justify-content: center;
    line-height: 33px;
    font-family: montserrat, monospace;
    color: rgb(226, 200, 49);
    text-decoration: none;
}

.main-header .main-nav>*:not(:first-child) {
    margin-left: 7px;
}

.main-header .main-nav>*:not(:last-child) {
    margin-right: 7px;
}

.main-header .main-nav a:hover {
    box-shadow: inset 0px -16px 0px -10px rgb(212, 123, 22);
    color: rgb(212, 123, 22);
}

.curr-page {
    box-shadow: inset 0px -16px 0px -10px rgb(212, 123, 22);
}

/* main-container */
.grid-container {
    width: 600px;
    height: 466px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    
}
.box{
    width: 185px;
    height: 170px;
}
.img-1{
    background-image: url("../images/1.jpg");
    background-size: cover;
}
.img-2{
    background-image: url("../images/2.jpg");
    background-size: cover;
}
.img-3{
    background-image: url("../images/3.jpg");
    background-size: cover;
}
.img-4{
    background-image: url("../images/4.jpg");
    background-size: cover;
}
.img-5{
    background-image: url("../images/5.jpg");
    background-size: cover;
}
.img-6{
    background-image: url("../images/6.jpg");
    background-size: cover;
}
.img-7{
    background-image: url("../images/7.jpg");
    background-size: cover;
}
.img-8{
    background-image: url("../images/8.jpg");
    background-size: cover;
}
.img-9{
    background-image: url("../images/9.jpg");
    background-size: cover;
}
.img-3{
    background-image: url("../images/3.jpg");
    background-size: cover;
}
.img-10{
    background-image: url("../images/10.jpg");
    background-size: cover;
}
.img-11{
    background-image: url("../images/11.jpg");
    background-size: cover;
}
.img-12{
    background-image: url("../images/12.jpg");
    background-size: cover;
}
.img-13{
    background-image: url("../images/13.jpg");
    background-size: cover;
}
.img-14{
    background-image: url("../images/14.jpg");
    background-size: cover;
}
.img-15{
    background-image: url("../images/15.jpg");
    background-size: cover;
}
.img-16{
    background-image: url("../images/16.jpg");
    background-size: cover;
}
.img-17{
    background-image: url("../images/17.jpg");
    background-size: cover;
}
.img-18{
    background-image: url("../images/18.jpg");
    background-size: cover;
}


/* main-container editor */

.main-container {
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.main {
    max-width: 600px;
    margin: 0 auto;
    flex-direction: row;
}

.canvas-container {
    background-color: burlywood;
    margin: 12px;
   
}
.icon{
    width: 30px;
    height: 30px;
}

/* main-footer */

.main-footer {
    background-color: #30b9b3;
    height: 103.5px;
    max-width: 600px;
    margin: 0 auto;
    justify-content: center;
}

.footer {
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.small {
    font-family: montserrat, monospace;
    font-size: 0.8em;
}

/* Helpers */

.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}